*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

:root{
    --bg-color: #012131;
    --main-color: #ffb703;
    --2nd-main-color: #fb8500;
    --3rd-main-color: #e5e5e5;
    --text-color: #fff;
    --big-font: 5rem;
    --h2-font: 1.9rem;
    --p-font: 1rem;
    --h3-font: 25px;
    
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 24px 14%;
    transition: 0.3s;
}

.navbar {
    display: flex;
}

.navbar a{
    color: var(--text-color);
    padding: 10px;
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: -7rem;
}

.logo {
    color: var(--text-color);
    margin-left: -4rem;
    align-items: center;
    font-size: 1.8rem;
}

.content {
    margin: 3rem;
    margin-top: 9rem;
    display: grid;
}

.item {
    background-color: #001c28da;
    padding: 30px 30px ;
    margin-bottom: 1rem;
    display: flex;
    border-radius: 4px;
}

.image {
    background-color: rgb(224, 224, 224);
    width: 500px;
    height: 150px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}
.image .logo-otop {
    margin-top: -10px;

    
}

.detail {
    margin-left: 2rem;
}

.detail h3 {
    margin-bottom: 1.5rem;
    margin-top: .5rem;
    font-size: var(--h3-font);
}
.detail h6 {
    margin-top: -1.2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.detail p {
    font-size: var(--p-font);
}
